$primaryBlue: #228be6;
$midLightblue: #f3f5f8;

:export {
    primaryBlue: $primaryBlue;
    midLightblue: $midLightblue;
}

//이름없는 color
/*
#2557a0
#dbdee4
#58657f
#ecedf0
#e8f3fd
#d8d8d8
'rgba(137, 149, 174, 0.21)'
*/
