.label {
    font-size: 14px;
    font-style: italic;
}
.content-wrap {
    display: flex;
}
.sub-content {
    margin-right: 10px;
}

.no-use {
    font-style: italic;
    font-size: 10px;
    color: #da7979;
}
